@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
body .title {
  font-family: "Shrikhand", cursive;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.omf-header .omf-header__title {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 4em;
  line-height: 4em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 0.15em;
}
.omf-header .omf-header__title .omf-header__logo {
  margin: 1em 0.5em 0.5em 0.5em;
  height: 2em;
}
.omf-header .omf-header__position {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 3em;
  line-height: 3em !important;
  background-color: #eaeaea;
  white-space: nowrap;
  height: 3em;
}
.omf-header .omf-header__position i {
  line-height: inherit;
  margin-right: 1em;
}
.omf-header .omf-header__content {
  background-color: #f6f6f6;
  padding-bottom: 1px;
}
.omf-header .omf-header__text {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  padding-top: 1.8em;
}

.omf-section1 {
  border-spacing: 2em;
}
.omf-section1 h2 {
  margin-left: 1.5em;
  margin-top: 2.5em;
}
@media screen and (min-width: 1200px) {
  .omf-section1 .omf-section__list-cards {
    display: flex;
    justify-content: space-evenly;
  }
}

.omf-section2 {
  border-spacing: 2em;
}
.omf-section2 h2 {
  margin-left: 1.5em;
  margin-top: 2.5em;
}
@media screen and (min-width: 1200px) {
  .omf-section2 .omf-section__list-cards {
    display: flex;
    justify-content: space-evenly;
  }
}

.omf-footer {
  background-color: #353535;
  color: white;
  padding: 2em;
}
.omf-footer svg {
  fill: white;
  margin-bottom: 15px;
}
.omf-footer svg path {
  fill: white;
}
.omf-footer .omf-footer__text {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
}
.omf-footer .omf-footer__text i {
  margin-right: 10px;
}
.omf-footer .omf-footer__text .fa-hands-helping {
  margin-right: 5px !important;
}
.omf-footer .omf-footer__text p {
  margin-top: 10px;
  margin-bottom: 0;
}
.omf-footer p {
  margin-top: 10px;
  margin-bottom: 0;
}

.omf-header-menu .omf-hader-menu__title {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1.5em;
  line-height: 1.5em !important;
  margin-top: 1em;
  margin-bottom: 1em;
}
.omf-header-menu .omf-hader-menu__title a {
  color: black;
  text-decoration: none;
  margin-right: 25%;
  margin-left: 0;
}
.omf-header-menu .omf-hader-menu__title img {
  margin-right: 30%;
}
.omf-header-menu .omf-hader-menu__content img {
  height: 20em;
  width: 100%;
  object-fit: cover;
}

.omf-button {
  border-radius: 3em;
  width: 14em;
  background: linear-gradient(#ff7edb 0%, #ff13be 100%);
  margin-top: 2em !important;
  margin-bottom: 3em !important;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 3em;
  line-height: 3em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.omf-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  background: #FF79DA;
}
.omf-button .omf-button__content {
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1em;
  line-height: 1em !important;
}

body {
  font-family: "Roboto", sans-serif;
}
body .title {
  font-family: "Shrikhand", cursive;
}

.omf-section3 {
  z-index: 1;
  position: relative;
  left: 0;
  top: -80px;
  height: 100%;
  background-color: #eaeaea;
  border-top-right-radius: 2.5em;
  border-top-left-radius: 2.5em;
}
.omf-section3 .omf-section3__title {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 3em;
  line-height: 3em !important;
  align-items: baseline;
}
.omf-section3 .omf-section3__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: normal;
  margin-right: 3em;
}
.omf-section3 .omf-section3__title2 {
  margin: 3em 1.5em auto 1.5em;
}
.omf-section3 .omf-section3__title2 .omf-section3__subtitle {
  margin: auto;
}
.omf-section3 .omf-section3__title2 .omf-section3__subtitle p {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.2em;
}
.omf-section3 .omf-section3__title2 .omf-section3__subtitle span {
  display: flex;
  width: 3em;
  height: 0;
  border: 2px solid #99E2D0;
  margin-top: 0;
}

.omf-button {
  border-radius: 3em;
  width: 14em;
  background: linear-gradient(#ff7edb 0%, #ff13be 100%);
  margin-top: 2em !important;
  margin-bottom: 3em !important;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 3em;
  line-height: 3em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.omf-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  background: #FF79DA;
}
.omf-button .omf-button__content {
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1em;
  line-height: 1em !important;
}

.omf-section1__card_operation {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1em;
  line-height: 1em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1em;
  background-color: #eaeaea;
  width: 22em;
  height: 5em;
  z-index: 0;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.omf-section1__card_operation:hover {
  background: #e4d5f6;
}
.omf-section1__card_operation .omf-section1__numbercircle {
  z-index: 1;
  position: relative;
  left: -0.7em;
  top: 1.8em;
  display: flex;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}
.omf-section1__card_operation p {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1em;
  line-height: 1em !important;
  font-size: 20px;
}
.omf-section1__card_operation span {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 10px;
  line-height: 10px !important;
  font-size: 10px;
}
.omf-section1__card_operation i {
  z-index: 1;
  position: relative;
  left: 1.2em;
  top: 1.5em;
}
.omf-section1__card_operation .fa-mobile-alt {
  margin-right: 25px;
}

.omf-section2__card-restaurant {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  width: 22em;
  height: 15em;
  margin: 2em auto 2em auto;
  border-radius: 20px;
}
.omf-section2__card-restaurant:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.omf-section2__card-restaurant a {
  text-decoration: none;
}
.omf-section2__card-restaurant .omf-section2__image {
  width: 22em;
  height: 10em;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  z-index: 0;
}
.omf-section2__card-restaurant .omf-section2__modal {
  background-color: #99E2D0;
  color: #278870;
  width: fit-content;
  padding: 8px 15px 8px 15px;
  border-radius: 3px;
  z-index: 1;
  position: relative;
  left: 245px;
  top: -150px;
}
.omf-section2__card-restaurant .omf-section2__container {
  z-index: 1;
  position: relative;
  left: 0;
  top: -60px;
  padding: 15px;
  display: flex;
  align-items: baseline;
  height: 3em;
}
.omf-section2__card-restaurant .omf-section2__former {
  top: -25px !important;
}
.omf-section2__card-restaurant h4 {
  color: black;
}
.omf-section2__card-restaurant i {
  margin-left: 45%;
  z-index: 1;
  position: relative;
  left: 15px;
  top: 5px;
}
.omf-section2__card-restaurant p {
  color: black;
  padding: 15px 15px 0 15px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
  left: 0;
  top: -55px;
}

/* Center the loader */
#loader {
  color: #FF79DA;
  font-size: 90px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 1em;
  height: 1em;
  margin: -76px 0 0 -76px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.7s infinite ease, round 1.7s infinite ease;
  animation: load 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#pageContent {
  display: none;
  text-align: center;
}

.heart-container {
  position: relative;
  top: 3px;
  left: -25px;
}
.heart-container .heart {
  width: 24px;
  height: 24px;
}
.heart-container .heart path {
  fill: transparent;
  stroke: black;
  stroke-width: 15px;
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.heart-container .heart path:hover {
  animation: heart-fill 2s linear forwards;
}

@keyframes heart-fill {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
    fill: #FF79DA;
    stroke: transparent;
  }
}
.omf-card-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 0;
  flex-direction: column;
  margin: 1em auto 1em auto;
  height: 5em;
  border-radius: 1em;
  animation: appear-animation 1000ms linear;
}
.omf-card-menu:hover > .omf-section3__selected {
  transform: scaleX(1);
}
.omf-card-menu:hover > .omf-card-menu__content > b {
  transform: translate(-80px, 0);
}
.omf-card-menu:hover > .omf-card-menu__content > p {
  width: 200px;
}
.omf-card-menu .omf-section3__selected {
  z-index: 1;
  position: relative;
  left: 294px;
  top: -37px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #99E2D0;
  width: 20%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 750ms linear;
  transform-origin: right;
}
.omf-card-menu .omf-section3__selected .selected {
  display: inherit;
  width: 24px;
  height: 24px;
  fill: white;
  margin: auto;
  overflow: hidden;
}
.omf-card-menu h3 {
  padding: 15px 15px 0 15px;
  margin: 0;
  text-align: left;
}
.omf-card-menu .omf-card-menu__content {
  display: flex;
  align-items: baseline;
  margin: 0;
  float: left;
  padding: 10px 15px 0 15px;
  width: 100%;
  justify-content: space-between;
}
.omf-card-menu .omf-card-menu__content p {
  margin: 0;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 750ms ease-out;
  text-align: left;
}
.omf-card-menu .omf-card-menu__content b {
  margin-right: 15px;
  transition: transform 750ms linear;
}

@keyframes appear-animation {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
