@mixin center-element ($vertical-parmater,$display: flex, $justify: center) {
  display: $display;
  justify-content: center;
  margin: auto;
  height: $vertical-parmater;
  line-height: $vertical-parmater !important;
}

@mixin shadow-box ($shadow-scope:0.15) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, $shadow-scope);
}

@mixin position ($index, $position, $top, $left) {
  z-index: $index;
  position: $position;
  left: $top;
  top: $left;
}

@mixin section-list {
  border-spacing: 2em;
  h2 {
    margin-left: 1.5em;
    margin-top: 2.5em;
  }
  .omf-section__list-cards {
    @include media-queries(desktop) {
      display: flex;
      justify-content: space-evenly;
    };
  }
}

@mixin media-queries ($device) {
  @media screen and (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin greenline {
  display: flex;
  width: 3em;
  height: 0;
  border: 2px solid $color-primary;
  margin-top: 0;
}

@mixin lag-appear-animation($lag-appear) {
  @each $key, $value in $lag-appear {
    &__#{$key} {
      animation: appear-animation 800ms linear forwards;
      animation-delay: $value;
    }
  }
}