$color-primary:#99E2D0;
$color-secondary:#FF79DA;
$color-tertiary:#9356DC;

$bg-color-primary:#f6f6f6;
$bg-color-secondary:#eaeaea;
$bg-color-tertiary:#353535;

$text-color-primary:white;
$text-color-secondary: black;

$breakpoints: (desktop: 1200px);
