$color-primary:#99E2D0;
$color-secondary:#FF79DA;
$color-tertiary:#9356DC;

$bg-color-primary:#f6f6f6;
$bg-color-secondary:#eaeaea;
$bg-color-tertiary:#353535;

$text-color-primary:white;
$text-color-secondary: black;

$icon-size:24px;

$lag-appear: (1:0ms,2:350ms,3:700ms,4:1050ms,5:1400ms,6:1750ms,7:2100ms,8:2450ms,9:2800ms,10:3150ms);

$breakpoints: (desktop: 1600px, tablette-lg:1200, tablette-sm:700px, mobile-lg: 550px, mobile-md:380px, mobile-sm:270);
