@import "../utils/mixins";

.omf-footer {
  background-color: $bg-color-tertiary;
  color: $text-color-primary;
  padding: 2em;
  text-align: left;
  svg {
    width:130px;
    height:35px;
    fill: $text-color-primary;
    margin-bottom: 10px;
    path {
      fill: $text-color-primary;
    }
  }
  .omf-footer__text {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
    i {
      margin-right: 10px;
    }
    .fa-hands-helping {
      margin-right: 5px !important;
    }
    p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}