@import "../utils/mixins";

.omf-footer {
  background-color: $bg-color-tertiary;
  color: $text-color-primary;
  padding: 2em;
  text-align: left;
  margin-top: 100px;
  @include media-queries(desktop) {
    margin-top: 100px;
    text-align: center;
  }
  @include media-queries(tablette) {
    margin-top: 100px;
    text-align: center;
  }
  svg {
    width:130px;
    height:35px;
    fill: $text-color-primary;
    margin-bottom: 10px;
    path {
      fill: $text-color-primary;
    }
    @include media-queries(desktop) {
      width:220px;
      height:70px;
    }
  }
  .omf-footer__text {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
    @include media-queries(desktop) {
      justify-content: center;
    }
    @include media-queries(tablette) {
      justify-content: center;
    }
    i {
      margin-right: 10px;
    }
    .fa-hands-helping {
      margin-right: 5px !important;
    }
    p {
      margin-top: 10px;
      margin-bottom: 0;
      @include media-queries(desktop) {
        margin-top: 20px;
      }
    }
  }
  p {
    margin-top: 10px;
    margin-bottom: 0;
    @include media-queries(desktop) {
      margin-top: 10px;
    }
  }
}