@import "../utils/mixins";

.omf-header {
  .omf-header__title {
    @include center-element(4em);
    @include shadow-box(0.15);
    margin-bottom: 0.15em;
    .omf-header__logo {
      margin: 1em 0.5em 0.5em 0.5em;
      height: 2em;
    }
  }
  .omf-header__position {
    @include center-element(3em);
    background-color: $bg-color-secondary;
    white-space: nowrap;
    height: 3em;
    i {
      line-height: inherit;
      margin-right: 1em;
    }
  }
  .omf-header__content {
    background-color: $bg-color-primary;
    padding-bottom: 1px ;
  }
  .omf-header__text{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    padding-top: 1.8em;
  }
}
