@import "../utils/mixins";

.omf-section1__card_operation {
  @include center-element(1em);
  @include shadow-box(0.05);
  @include media-queries(desktop) {
    width: 400px;
    height: 120px;

  }
  border-radius: 1em;
  background-color: $bg-color-secondary;
  width: 22em;
  height: 5em;
  z-index: 0;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  &:hover {
    background: lighten($color-tertiary, 30%);
  }
  .omf-section1__numbercircle {
    @include position(1, relative,-0.7em,1.8em );
    @include media-queries(desktop) {
      @include position(1, relative, -15px, 46px);
      height: 30px;
      width: 30px;
    }
    display: flex;
    justify-content: center;
    background-color: $color-tertiary;
    color: $text-color-primary;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
  }
  p {
    @include center-element(1em);
    font-size: 20px;
    @include media-queries(desktop) {
      font-size: 25px;
    }
  }
  span {
    @include center-element(10px);
    @include media-queries(desktop) {
      font-size: 15px;
      align-items: baseline;
    }
    font-size: 10px;
    align-items: baseline;
  }
  i {
    @include position(1, relative, 1.2em, 1.5em );
    @include media-queries(desktop) {
      @include position(1, relative, 12px, 48px);
      font-size: 32px;
    }
  }
  .fa-mobile-alt {
    margin-right: 25px;
  }
}