@import "../utils/mixins";

.omf-section2__card-restaurant {
  @include shadow-box(0.15);
  width: 22em;
  height: 15em;
  margin: 2em auto 2em auto;
  border-radius: 20px;
  &:hover {
    @include shadow-box(0.30)
  }
  a {
    text-decoration: none;
  }
  .omf-section2__image {
    width: 22em;
    height: 10em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    z-index: 0;
  }
  .omf-section2__modal {
    background-color: $color-primary;
    color: darken($color-primary, 40%);
    width: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    @include position(1,relative, 245px, -150px);
  }
  .omf-section2__container{
    @include position(1,relative, 0, -60px);
    padding: 15px;
    display: flex;
    align-items: baseline;
    height: 3em;
  }
  .omf-section2__former {
    top: -25px !important;
  }
  h4 {
    color: black;
  }
  i {
    margin-left: 45%;
    @include position(1,relative, 15px, 5px);
  }
  p {
    color: black;
    padding: 15px 15px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    @include position(1,relative, 0, -55px);
  }
}