@import "../utils/mixins";

.omf-section2__card-restaurant {
  @include shadow-box(0.15);
  @include media-queries(tablette) {
    margin: 1.5em !important;
  };
  @include media-queries(mobile-sm) {
    margin: 1.5em !important;
    width: 220px;
    height: 150px;
  };
  width: 22em;
  height: 15em;
  margin: 2em auto 2em auto;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 300ms linear;
  &:hover {
    @include shadow-box(0.30);
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
  }
  .omf-section2__image {
    @include media-queries(mobile-sm) {
      width: 220px;
      height: 100px;
    };
    width: 22em;
    height: 10em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    z-index: 0;
  }
  .omf-section2__modal {
    @include position(1,relative, 245px, -150px);
    @include media-queries(mobile-sm) {
      @include position(1,relative, 160px, -95px);
      padding: 3px 6px 3px 6px;
      font-size: 10px;
    };
    background-color: $color-primary;
    color: darken($color-primary, 40%);
    width: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
  }
  .omf-section2__container{
    @include position(1,relative, 0, -60px);
    @include media-queries(mobile-sm) {
      @include position(1,relative, 0, -40px);
    };
    padding: 15px;
    display: flex;
    align-items: baseline;
    height: 3em;
  }
  .omf-section2__former {
    top: -25px !important;
  }
  h4 {
    color: black;
    @include media-queries(mobile-sm) {
      font-size: 12px;
    };
  }
  p {
    @include position(1,relative, 0, -55px);
    @include media-queries(mobile-sm) {
      font-size: 10px;
      padding: 0 15px 0 15px;
    };
    color: black;
    padding: 15px 15px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  @include media-queries(mobile-sm) {
    .omf-section2__new {
      padding-top: 15px !important;
    }
  };
}