@import "../utils/mixins";

.omf-section2__card-restaurant {
  @include shadow-box(0.15);
  @include media-queries(desktop) {
    width: 23em;
    height: 18em;
  }
  width: 22em;
  height: 15em;
  margin: 2em auto 2em auto;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 300ms linear;
  &:hover {
    @include shadow-box(0.30);
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
  }
  .omf-section2__image {
    @include media-queries(desktop) {
      width: 23em;
      height: 12em;
    }
    width: 22em;
    height: 10em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    z-index: 0;
  }
  .omf-section2__modal {
    background-color: $color-primary;
    color: darken($color-primary, 40%);
    width: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    @include position(1,relative, 245px, -150px);
    @include media-queries(desktop) {
      @include position(1,relative, 260px, -180px);
    }
  }
  .omf-section2__container{
    @include position(1,relative, 0, -60px);
    padding: 15px;
    display: flex;
    align-items: baseline;
    height: 3em;
  }
  .omf-section2__former {
    top: -25px !important;
  }
  h4 {
    color: black;
    @include media-queries(desktop) {
      font-size: 22px;
    }
  }
  @include media-queries(desktop) {
    svg {
      @include position(1,relative, -40px, 5px);
      width: 32px;
      height: 32px;
    }
  }

  p {
    color: black;
    padding: 15px 15px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    @include position(1,relative, 0, -55px);
    @include media-queries(desktop) {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}