@import "../utils/mixins";

.heart-container {
  position: relative;
  top: 3px;
  left: -25px;
  .heart {
    width:$icon-size;
    height:$icon-size;
    path {
      fill: transparent;
      stroke: $text-color-secondary;
      stroke-width: 30px;
      stroke-dasharray: 1560;
      stroke-dashoffset: 0;
      &:hover {
        animation: heart-fill 1000ms linear forwards;
      }
    }
  }
}

@keyframes heart-fill {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 1560;
  }

  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
    fill: $color-secondary;
    stroke: transparent;
  }
}
