@import "../utils/mixins";

.heart-container {
  position: relative;
  top: 3px;
  left: -25px;
  .heart {
    width:$icon-size;
    height:$icon-size;
    @include media-queries(mobile-sm) {
      width:$icon-size-sm;
      height:$icon-size-sm;
    };
    path {
      fill: transparent;
      stroke: $text-color-secondary;
      stroke-width: 30px;
      stroke-dasharray: 1560;
      stroke-dashoffset: 0;
      &:hover {
        animation: heart-fill 1000ms linear forwards;
      }
    }
  }
}

.heart-card-1 {
  top: 8px !important;
  left: 160px !important;
  @include media-queries(mobile-sm) {
    top: 5px !important;
    left: 80px !important;
  };
}

.heart-card-2 {
  top: 8px !important;
  left: 157px !important;
  @include media-queries(mobile-sm) {
    top: 5px !important;
    left: 77px !important;
  }
}

.heart-card-3 {
  top: 8px !important;
  left: 192px !important;
  @include media-queries(mobile-sm) {
    top: 5px !important;
    left: 102px !important;
  }
}

.heart-card-4 {
  top: 8px !important;
  left: 158px !important;
  @include media-queries(mobile-sm) {
    top: 5px !important;
    left: 78px !important;
  }
}

@keyframes heart-fill {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 1560;
  }

  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
    fill: $color-secondary;
    stroke: transparent;
  }
}
